<%- include("partials/header.ejs") %>

<h1>Hello <%= name %></h1>

<h1>List of books (<%= model.length %>)</h1>

<div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Article</th>
        <th>Author</th>
        <th>
          <a href="/blogs/create">Add</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const blog of model) { %>
      <tr>
        <td><%= blog.Title %></td>
        <td><%= blog.Date %></td>
        <td><%= blog.Article %></td>
        <td><%= blog.Author %></td>
        <td>
          <a href="/blogs/edit/<%= blog.Blog_ID %>">Edit</a>
          <form
            action="/blogs/delete/<%= blog.Blog_ID %>?_method=DELETE"
            method="post"
          >
            <input type="submit" value="Delete" />
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>

  <a href="/">Logout</a>
</div>
<%- include("partials/footer.ejs") %>
