<%- include("partials/header.ejs") %>

<div>
  <h1>List of Blogs (<%= model.length %>)</h1>
  <ul>
    <% for (const Blog of model) { %>
    <li><%= Blog.Date %></li>
    <li><%= Blog.Title %></li>
    <li><%= Blog.Article %></li>
    <% } %>
  </ul>
</div>

<%- include("partials/footer.ejs") %>
