<%- include("partials/header.ejs") %>

<h1>Update a record</h1>

<form action="/blogs/edit/<%= model.Blog_ID %>" method="post">
  <div>
    <div>
      <label class="col-form-label col-sm-2" for="Title">Title</label>
      <div>
        <input
          autofocus
          name="Title"
          value="<%= model.Title %>"
        />
      </div>
    </div>

    <div>
      <label for="Author">Date</label>
      <div>
        <input class="form-control" name="Date" value="<%= model.Date %>" />
      </div>
    </div>

    <div>
      <label for="Article">Article</label>
      <div>
        <textarea cols="20" name="Article" maxlength="32000" rows="7">
<%= model.Article %></textarea
        >
      </div>
    </div>

    <div>
      <div>
        <input type="submit" value="Update" />
        <a href="/blogs/all">Cancel</a>
      </div>
    </div>
  </div>
</form>

<%- include("partials/footer.ejs") %>
